.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: var(--container-padding);
  margin-bottom: 2rem;
}

.title {
  font-weight: 600;
  font-size: 1.3rem;
  margin: 0 0 1rem 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--container-padding);

  @media (min-width: 767px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.albumName {
  margin: 0 0 0.3rem 0;
  font-size: 1rem;
  color: var(--color-text);
  text-decoration: none;
}

.albumYear {
  margin: 0;
  font-size: 0.875rem;
  color: var(--color-text-muted);
  text-decoration: none;
}

.link {
  &:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px var(--color-primary);
  }
}

.cover {
  border-radius: 8px;
  margin-bottom: 0.5rem;
}
